@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel

<div class="Hero_container">
    <div class="img_container">
        @Html.Sitecore().Field("Image", Model.Item)
    </div>

    <div class="content">
    </div>

    <div class="title">
        <h1> @Html.Sitecore().Field("Title", Model.Item)</h1>
    </div>
</div>



