@using Sitecore.Mvc
@model Sitecore.Mvc.Presentation.RenderingModel




<div class="Twocolumn_main">

    <div class="left">

@Html.Sitecore().Field("Image", Model.Item)

        </div>

    <div class="right">

 <h1> @Html.Sitecore().Field("Heading", Model.Item) </h1>
    
        <p>@Html.Sitecore().Field("Description", Model.Item) </p>
        </div>

    </div>
